<div class="large-drink-image">
    <img class="large-drink-img" src="{{img_url}}" data-drink-id="{{id}}"/>
</div>

<div class="content">
	<div class="title">{{name}}</div>

  <div class="description">
	   {{description}} Appreciate the GoodStuff!

    <ul class="drink-highlights">
      <li>No added sugar</li>
      <li>No added preservatives</li>
      <li>Less than 100 calories</li>
      <li>Added vitamins (B3, B6, B8 and B12)</li>
    </ul>
  </div>

  <div class="drink-footer">
    {{#link-to "drinks"}}
      <div class="button">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
      </div>
    {{/link-to}}
  </div>
</div>
