<link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>


<div class="heading-border">
  <div class="header">
      <div class="left-container">
      <div class="logo">
          <img src="logo.jpg" />
      </div>
        <div class="font-container">
          <div class="logo-tagline">SAM & JO'S</div>
            <div class="logo-tagline-subheading">FRUIT DRINKS Co</div>
        </div>
    </div>
    <div class="right-container">
      <div class="social">
          <ul class="social-list" style="">
              <li>
                  <a href="http://www.facebook.com/www.facebook.com/samandjos" class="crafty-social-button csb-facebook" title="Facebook" target="_blank">
                      <img class="crafty-social-button-image" alt="Facebook" width="60" height="60" src="http://samandjos.com/wp-content/plugins/crafty-social-buttons/buttons/arbenting/facebook.png">
                  </a>
              </li>

              <li>
                  <a href="http://twitter.com/samandjos" class="crafty-social-button csb-twitter" title="Twitter" target="_blank">
                      <img class="crafty-social-button-image" alt="Twitter" width="60" height="60" src="http://samandjos.com/wp-content/plugins/crafty-social-buttons/buttons/arbenting/twitter.png">
                  </a>
              </li>

              <li>
                  <a href="http://instagram.com/samandjosdrinks" class="crafty-social-button csb-instagram" title="Instagram" target="_blank">
                      <img class="crafty-social-button-image" alt="Instagram" width="60" height="60" src="http://samandjos.com/wp-content/plugins/crafty-social-buttons/buttons/arbenting/instagram.png">
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  </div>

	<div class="main">
    <div class="container" style="width: 800px; margin-left: auto; margin-right:auto">
			{{ liquid-outlet }}
		</div>
	</div>

	<div class="page-footer">
		Sam & Jo's Fruit Drinks Co., 99 Archel Road, London, W14 9QL, UK <br />
info@samandjos.com

	</div>
